tr {
	background-color: lightblue;
}

tr:nth-child(odd) {
	background-color: lightblue;
}

th {
	padding: 1rem;
	font-weight: bold;
}

td {
	height: 4rem;
	padding: 0.5rem;
}

.fa-pen-to-square{
	color:green!important;
}

.fa-trash-can {
	color:red!important;
}

td {
	border:1px solid var(--st-dark);
	padding:0.5rem;
}

table {
	width:100%;
	margin:0.5rem;
}